@import '../_variables';

/*
  Modal Styling Component ✏️
  ----
  - Super small, but styles the labels
*/

.modal {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 0 10vw 5vh 10vw;
    align-items: center;
    justify-content: center;
    background: rgba(97, 89, 255, 1);
    box-shadow: 0px 0px 100px 100px rgba(97, 89, 255, 1);
}

.modal-header {
    position: absolute;
    top: 2em;
    right: 10vw;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    color: $record;
}

.modal-btn-close {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px !important

}

.modal-btn-close-icon,
.modal-btn-close-icon svg {
    width: 42px;
    height: 42px;
    fill: #9B9AAD;
}

.modal-content {
    width: 100%;
    font-weight: 200;
}

.modal-content h1 {
    font-size: 2.8em;
    font-weight: 200;
    margin: 0 0 .5em 0;
}

.modal-icon {
    position: fixed;
    transform: scale(21);
    opacity: .04;
    pointer-events: none
}

.modal-icon svg {
    width: 100px;
    height: 100px;
    fill: #FFF;
}


/* animation state */
.modal {
    bottom: -100vh;
    transition: all .32s ease-in-out;
    will-change: all;
}
.modal.modal-open { bottom: 0 }
